@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {

      font: 20px Quicksand, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #9B287B; /* Amaranth Deep Purple */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #122932; /* Dark Gunmetal */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #F5E6E8; /* Isabelline */
      color: #555555;
  }
  .bg-4 {
      background-color: #383B53; /* Charcoal */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #9B287B !important;
  }